
.icon-path-5698:before { content: '\e800'; } /* '' */
.icon-path-5700:before { content: '\e801'; } /* '' */
.icon-settings-(1):before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-shopping-cart-empty-side-view:before { content: '\e805'; } /* '' */
.icon-translate:before { content: '\e806'; } /* '' */
.icon-wordpress:before { content: '\e807'; } /* '' */
.icon-art:before { content: '\e808'; } /* '' */
.icon-font:before { content: '\e80c'; } /* '' */
.icon-gdpr:before { content: '\e80d'; } /* '' */